// // Import Google fonts
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

// // Define fonts for body and headers
// $body-font: $my-font, "Helvetica", "sans-serif";
// $headers-font: $my-font, "Helvetica", "sans-serif";

// To use a font file (.woff) uncomment following lines
@font-face {
  font-family: "PPRadioGrotesk-Regular";
  src:asset-url('app/assets/fonts/PPRadioGrotesk-Regular.woff') format('woff'),
  asset-url('app/assets/fonts/PPRadioGrotesk-Regular.otf') format('opentype'),
}

$my-font: "PPRadioGrotesk-Regular", "Helvetica", "sans-serif";
$secondary-font: "Space Mono", "Helvetica", "sans-serif";
