.about-erina {
  grid-column-start: span 6;

  h3{
    margin-right: $spacing-xl;
  }

  .sub-title {
    margin: 0;
  }
}

.bio-block {
  grid-column-start: span 2;
  padding-left: 40px;

  li {
    padding-top: $spacing-m;
  }

  .sub-title {
    margin: 0;
  }

  a {
    font-family: $secondary-font;
  }
}

/* Media queries */

@media screen and (max-width: 840px) {
  .about-erina {
    grid-column-start: span 12;

    h3{
      margin-right: 0;
    }
  }

  .bio-block {
    grid-column-start: span 12;
  }
}

/* Tablet */
@media screen and (min-width: 841px) and (max-width: 1240px) {
  .about-erina {
    grid-column-start: span 6;
  }

  .bio-block {
    grid-column-start: span 2;
  }
}
