.project-title {
  grid-column-start: span 5;
}


.project-description {
  grid-column-start: span 7;
}

.tag-container {
  display: flex;
  gap: 1em;
  margin-top: $spacing-m;
}

/* Finspo case studies */

.finspo-case-studies {
  .item {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 32px 32px;
    margin-top: $spacing-xxl;
  }

  .case-study-label {
    color: $eh-text-tertiary;
  }

  .title {
    grid-column-start: span 6;
  }

  h5 {
    margin-bottom: $spacing-s;
  }

  .pca {
    grid-column-start: span 2;
  }
}

.rectangle-full {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column-start: span 6;
  background-color: $eh-background-purple;

  img {
    width: 100%;
  }

  video {
    border-radius: $spacing-m;
    width: 80%;
  }

  .palette {
    max-height: 80%;
    max-width: 80%;
  }

  .emma-illo {
    width: 50%;
  }
}

.square-half-half {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column-start: span 3;
  min-height: 640px;
  overflow: hidden;
  background-color: $eh-background-purple;

  img {
    width: 70%;
  }
}

.square-triptic {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column-start: span 2;
  padding: $spacing-xxl 0;

  div {
    display: flex;
    justify-content: center;
  }

  img {
    width: 70%;
  }
}

.rectangle-two-thirds {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column-start: span 4;
  padding: $spacing-xxl 0;
  img {
    width: 80%;
  }
}

.full-bleed {
  img {
    width: 100%;
  }
}

dotlottie-player {
  width: 70%;
}

.emma-illo {
  height: 700px;

  img {
    width: 50%;
  }
}

.fixed-rate-rectangle {
  padding: $spacing-xxl;

  img {
    border-radius: $spacing-s;
    width: 80%;
  }
}

.fixed-rate-square-ad {
  video {
    border-radius: $spacing-s;
    width: 70%;
  }
}

.brand-awareness-square-ad {
  video {
    border-radius: $spacing-s;
    border: 1px solid $eh-border-white;
    width: 70%;
  }
}

.learn-hub-recording {
  padding: $spacing-xxl;

  video {
    border-radius: $border-radius-s;
  }
}

.nazuna-business-card {
  img {
    width: 100%;
  }
}

/* Kiraku Style Guide */
.kiraku-logo {
  img {
    width: 30%;
  }
}


/* Media queries */
@media screen and (max-width: 800px) {
  .finspo-case-studies {
    .pca {
      grid-column-start: span 6;
    }
  }

  .square-half-half {
    grid-column-start: span 6;
  }
}
