.project-title {
  grid-column-start: span 4;
  margin-right: $spacing-xl;
}


.project-description {
  grid-column-start: span 8;
}

.tag-container {
  display: flex;
  gap: 1em;
  margin-top: $spacing-m;
}

/* Finspo case studies */

.item {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: $spacing-xl;
  margin-top: $spacing-xxl;
  grid-column-start: span 12;
}

.title {
  grid-column-start: span 4;

  .case-study-label {
    color: $eh-text-tertiary;
  }

  .project-label {
    margin-top: $spacing-s;
  }
}

.pca {
  grid-column-start: span 4;
}

.rectangle-full {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column-start: span 12;
  background-color: $eh-background-purple;
  overflow: hidden;
  border-radius: $border-radius-s;

  img {
    width: 100%;
  }

  video {
    border-radius: $spacing-m;
    width: 80%;
  }

  .palette {
    max-height: 80%;
    max-width: 80%;
  }
}

.square-half-half {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column-start: span 6;
  overflow: hidden;
  background-color: $eh-background-purple;
  border-radius: $border-radius-s;

  img {
    width: 70%;
  }
}

.square-triptic {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column-start: span 4;
  padding: $spacing-xxl 0;
  border-radius: $border-radius-s;

  div {
    display: flex;
    justify-content: center;
  }

  img {
    width: 70%;
  }
}

.rectangle-two-thirds {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column-start: span 8;
  padding: $spacing-xxl 0;
  border-radius: $border-radius-s;

  img {
    width: 80%;
  }
}

.video-container {
  padding: 60px 0;
}

.full-bleed {
  img {
    width: 100%;
  }
}

dotlottie-player {
  width: 60%;
}

.emma-illo {
  // height: 700px;

  img {
    width: 50%;
    padding: 120px 0;
  }
}

.roladex {
  dotlottie-player {
    width: 50%;
  }
}

.fixed-rate-rectangle {
  padding: $spacing-xxl;

  img {
    border-radius: $spacing-s;
    width: 80%;
  }
}

.fixed-rate-square-ad {
  video {
    border-radius: $spacing-s;
    width: 70%;
  }
}

.brand-awareness-square-ad {
  video {
    border-radius: $spacing-s;
    border: 1px solid $eh-border-white;
    width: 70%;
  }
}

.learn-hub-recording {
  padding: $spacing-xxl;

  video {
    border-radius: $border-radius-s;
  }
}

.finspo-logo {
  height: 400px;

  img {
    height: 60px;
  }
}

.finspo-logo-mark {
  height: 400px;

  img {
    height: 50px;
  }
}

/* Kiraku Style Guide */

.nazuna-business-card {
  img {
    width: 100%;
  }
}

.kiraku-logo {
  height: 400px;

  img {
    width: 30%;
  }
}

.kiraku-lobby {
  img {
    width: 100%;
  }
}


/* Media queries */

/* Mobile */
@media screen and (max-width: 840px) {
  .project-title {
    grid-column-start: span 12;
    margin-right: 0;
  }

  .project-description {
    grid-column-start: span 12;
  }

  .finspo-case-studies {
    .pca {
      grid-column-start: span 6;
    }
  }

  .square-half-half {
    grid-column-start: span 12;
  }

  .square-triptic {
    grid-column-start: span 12;
  }

  .rectangle-two-thirds {
    grid-column-start: span 12;
  }

  .emma-illo {
    img {
      width: 70%;
      padding: $spacing-xxl 0;
    }
  }
}
