<div class="grid-container">
  <div class="about-erina">
    <h3>
    I'm a Product Designer with 10+ years of experience crafting high-quality products. I excel in creating great customer experiences in complex, regulated industries by collaborating cross-functionally to bring design concepts to life.
    </h3>
    <p class="sub-title p-top-xl">Contact and links </p>
    <p>-</p>
    <ul class="p-top-m">
      <li>erina.hou@gmail.com</li>
      <li><%= link_to "Github", "https://github.com/erinahou", class: "hyperlink-text" %></li>
    </ul>
  </div>

  <!-- Experience -->
  <div class="bio-block">
    <p class="sub-title">Experience</p>
    <p>-</p>
    <ul>
      <li>
        <p>Finspo</p>
        <p>Head of Design</p>
        <p>Melbourne, Australia</p>
        <p>2020-2024</p>
      </li>
      <li>
        <p>Kiraku</p>
        <p>Lead Designer</p>
        <p>Tokyo, Japan</p>
        <p>2016-2020</p>
      </li>
      <li>
        <p>IDEO</p>
        <p>Freelancer</p>
        <p>Tokyo, Japan</p>
        <p>2014-2015</p>
      </li>
      <li>
        <p>Shiseido</p>
        <p>Freelancer</p>
        <p>Tokyo, Japan</p>
        <p>2014-2014</p>
      </li>
      <li>
        <p>Artsy</p>
        <p>Designer</p>
        <p>New York, United States</p>
        <p>2012-2014</p>
      </li>
    </ul>
  </div>

  <!-- Education -->
  <div class="bio-block">
    <p class="sub-title">Education</p>
    <p>-</p>
    <ul>
      <li>
        <p>Parsons School of Design</p>
        <p>BFA in Communication Design</p>
        <p>2008-2012</p>
      </li>
      <li>
        <p>Le Wagon</p>
        <p>2023-2024, Web development</p>
      </li>
    </ul>
    <p class="sub-title p-top-xl">Awards & Publications</p>
    <p>-</p>
    <ul>
      <li>
        <p><%= link_to "The New York Times (Kiraku)", "https://www.nytimes.com/2019/08/16/t-magazine/louis-barthelemy-tapestries-nazuna-kyoto-gosho-culture-fashion-news.html" %></p>
        <p>2019</p>
      </li>
      <li>
        <p><%= link_to "Webby Winner for Websites & Mobile Sites (Artsy)", "https://winners.webbyawards.com/2014/websites-and-mobile-sites/general-websites-and-mobile-sites/art/144934/artsy" %></p>
        <p>2014</p>
      </li>
    </ul>
  </div>

  <!-- Skills -->
  <div class="bio-block">
    <p class="sub-title">Skills</p>
    <p>-</p>
    <ul>
      <li>
        <p>UI/UX</p>
        <p>Prototyping</p>
        <p>Web/Mobile design</p>
        <p>Web development</p>
        <p>Strategy</p>
        <p>Branding</p>
      </li>
    </ul>
  </div>

  <div class="shape">
  </div>
</div>
