<div class="grid-container">
  <div class="about-erina">
    <h4>
    I'm a digital product designer with 10+ years of experience crafting high-quality products across finance, hospitality and art sectors mainly in startup settings. I thrive in the midst of complexity and ambiguity and excel as a cross-functional collaborator working with diverse teams to bring design concepts to life.
    </h4>

    <h4 class="m-top-xl">E. &nbsp; &nbsp; &nbsp; erina.hou@gmail.com</h4>
  </div>

  <!-- Experience -->
  <div class="bio-block">
    <p class="sub-title">Experience</p>
    <ul>
      <li>
        <p>Finspo</p>
        <p>Head of Design</p>
        <p>Melbourne, Australia</p>
        <p>2020-2024</p>
      </li>
      <li>
        <p>Kiraku</p>
        <p>Lead Designer</p>
        <p>Tokyo, Japan</p>
        <p>2016-2020</p>
      </li>
      <li>
        <p>IDEO</p>
        <p>Freelancer</p>
        <p>Tokyo, Japan</p>
        <p>2014-2015</p>
      </li>
      <li>
        <p>Shiseido</p>
        <p>Freelancer</p>
        <p>Tokyo, Japan</p>
        <p>2014-2014</p>
      </li>
      <li>
        <p>Artsy</p>
        <p>Designer</p>
        <p>New York, United States</p>
        <p>2012-2014</p>
      </li>
      <li>
        <%= link_to "Read.cv", "https://read.cv/erinaho", class: "hyperlink-text" %>
      </li>
    </ul>
  </div>

  <!-- Education -->
  <div class="bio-block">
    <p class="sub-title">Education</p>
    <ul>
      <li>
        <p>Parsons School for Design</p>
        <p>BFA in Communication Design</p>
        <p>2008-2012</p>
      </li>
      <li>
        <p>Le Wagon</p>
        <p>2023-2024, Web development</p>
      </li>
    </ul>
  </div>

  <!-- Skills -->
  <div class="bio-block">
    <p class="sub-title">Skills</p>
    <ul>
      <li>
        <p>UI/UX</p>
        <p>Art direction</p>
        <p>Brand</p>
        <p>Animation</p>
        <p>Project management</p>
        <p>HTML</p>
        <p>CSS</p>
        <p>Javascript</p>
        <p>Ruby</p>
      </li>
      <li>
        <%= link_to "Github", "https://github.com/erinahou", class: "hyperlink-text" %>
      </li>
    </ul>
  </div>

  <div class="shape">
  </div>
</div>
