<div class="grid-container">
  <div class="about-erina">
    <h3>
    I'm a digital product designer with 10+ years of experience crafting high-quality products across finance, hospitality and art sectors mainly in startup settings. I thrive in the midst of complexity and ambiguity and excel as a cross-functional collaborator working with diverse teams to bring design concepts to life.

    I joined Finspo when it was a team of 6 and grew to be 40 with over X customers and processing over $900m+ in home loan management.
    </h3>
    <p class="sub-title p-top-xl">Contact and links </p>
    <p>-</p>
    <ul class="p-top-m">
      <li>erina.hou@gmail.com</li>
      <li><%= link_to "Read.cv", "https://read.cv/erinaho", class: "hyperlink-text" %></li>
      <li><%= link_to "Github", "https://github.com/erinahou", class: "hyperlink-text" %></li>
    </ul>
  </div>

  <!-- Experience -->
  <div class="bio-block">
    <p class="sub-title">Experience</p>
    <p>-</p>
    <ul>
      <li>
        <p>Finspo</p>
        <p>Head of Design</p>
        <p>Melbourne, Australia</p>
        <p>2020-2024</p>
      </li>
      <li>
        <p>Kiraku</p>
        <p>Lead Designer</p>
        <p>Tokyo, Japan</p>
        <p>2016-2020</p>
      </li>
      <li>
        <p>IDEO</p>
        <p>Freelancer</p>
        <p>Tokyo, Japan</p>
        <p>2014-2015</p>
      </li>
      <li>
        <p>Shiseido</p>
        <p>Freelancer</p>
        <p>Tokyo, Japan</p>
        <p>2014-2014</p>
      </li>
      <li>
        <p>Artsy</p>
        <p>Designer</p>
        <p>New York, United States</p>
        <p>2012-2014</p>
      </li>
    </ul>
  </div>

  <!-- Education -->
  <div class="bio-block">
    <p class="sub-title">Education</p>
    <p>-</p>
    <ul>
      <li>
        <p>Parsons School for Design</p>
        <p>BFA in Communication Design</p>
        <p>2008-2012</p>
      </li>
      <li>
        <p>Le Wagon</p>
        <p>2023-2024, Web development</p>
      </li>
    </ul>
    <p class="sub-title p-top-xl">Awards & Publications</p>
    <p>-</p>
    <ul>
      <li>
        <p>NyTimes (Kiraku)</p>
        <p>2019</p>
      </li>
      <li>
        <p>NyTimes (Kiraku)</p>
        <p>2017</p>
      </li>
      <li>
        <p>Webby Winner (Artsy)</p>
        <p>Websites and Mobile Sites Art 2014</p>
      </li>
    </ul>
  </div>

  <!-- Skills -->
  <div class="bio-block">
    <p class="sub-title">Capabilities</p>
    <p>-</p>
    <ul>
      <li>
        <p>UI/UX</p>
        <p>Art direction</p>
        <p>Brand</p>
        <p>Animation</p>
        <p>Project management</p>
        <p>HTML</p>
        <p>CSS</p>
        <p>Javascript</p>
        <p>Ruby</p>
      </li>
    </ul>
  </div>

  <div class="shape">
  </div>
</div>
