<!-- For Finspo case studies -->

<div class="finspo-case-studies">
  <!-- Case study: DFF(Customer) -->
  <div class="item">
    <div class="title">
      <h5 class="case-study-label">Case study</h5>
      <h3>Digital Fact Find (Customer)</h3>
    </div>
    <div class="pca">
      <h5>Problem</h5>
      <p>The primary bottleneck for both customers and brokers lies in sharing and collecting information needed to: a) assess the feasibility of obtaining a home loan b) gather detailed information necessary to advance the application process.</p>
    </div>
    <div class="pca">
      <h5>Challenges</h5>
      <p>How can we gather all necessary info without overwhelming customers? How do we prevent redundant data entry (Collect once, collect efficiently)? And, how can we prompt customers to complete majority of the info?</p>
    </div>
    <div class="pca">
      <h5>Approach</h5>
      <p>We prioritize human-friendly language, breaking the process into manageable sections and goal-oriented design. Animated elements, also help to soften the form's intensity and engage customers, ensuring a smoother experience.</p>
    </div>
    <div class="rectangle-full br-24"></div>
    <div class="square-half-half br-24"></div>
    <div class="img square-half-half br-24"></div>
  </div>

  <!-- Case study: DFF(Broker) -->
  <div class="item">
    <div class="title">
      <h5 class="case-study-label">Case study</h5>
      <h3>Digital Fact Find (Customer)</h3>
    </div>
    <div class="pca">
      <h5>Problem</h5>
      <p>The primary bottleneck for both customers and brokers lies in sharing and collecting information needed to: a) assess the feasibility of obtaining a home loan b) gather detailed information necessary to advance the application process.</p>
    </div>
    <div class="pca">
      <h5>Challenges</h5>
      <p>How can we gather all necessary info without overwhelming customers? How do we prevent redundant data entry (Collect once, collect efficiently)? And, how can we prompt customers to complete majority of the info?</p>
    </div>
    <div class="pca">
      <h5>Approach</h5>
      <p>We prioritize human-friendly language, breaking the process into manageable sections and goal-oriented design. Animated elements, also help to soften the form's intensity and engage customers, ensuring a smoother experience.</p>
    </div>
    <div class="rectangle-full br-24"></div>
    <div class="square-half-half br-24"></div>
    <div class="img square-half-half br-24"></div>
  </div>

  <!-- Case study: Summary -->
  <div class="item">
    <div class="title">
      <h5 class="case-study-label">Case study</h5>
      <h3>Digital Fact Find (Customer)</h3>
    </div>
    <div class="pca">
      <h5>Problem</h5>
      <p>The primary bottleneck for both customers and brokers lies in sharing and collecting information needed to: a) assess the feasibility of obtaining a home loan b) gather detailed information necessary to advance the application process.</p>
    </div>
    <div class="pca">
      <h5>Challenges</h5>
      <p>How can we gather all necessary info without overwhelming customers? How do we prevent redundant data entry (Collect once, collect efficiently)? And, how can we prompt customers to complete majority of the info?</p>
    </div>
    <div class="pca">
      <h5>Approach</h5>
      <p>We prioritize human-friendly language, breaking the process into manageable sections and goal-oriented design. Animated elements, also help to soften the form's intensity and engage customers, ensuring a smoother experience.</p>
    </div>
    <div class="rectangle-full br-24"></div>
    <div class="square-half-half br-24"></div>
    <div class="img square-half-half br-24"></div>
  </div>

  <!-- Case study: All-in-one tool -->
  <div class="item">
    <div class="title">
      <h5 class="case-study-label">Case study</h5>
      <h3>Digital Fact Find (Customer)</h3>
    </div>
    <div class="pca">
      <h5>Problem</h5>
      <p>The primary bottleneck for both customers and brokers lies in sharing and collecting information needed to: a) assess the feasibility of obtaining a home loan b) gather detailed information necessary to advance the application process.</p>
    </div>
    <div class="pca">
      <h5>Challenges</h5>
      <p>How can we gather all necessary info without overwhelming customers? How do we prevent redundant data entry (Collect once, collect efficiently)? And, how can we prompt customers to complete majority of the info?</p>
    </div>
    <div class="pca">
      <h5>Approach</h5>
      <p>We prioritize human-friendly language, breaking the process into manageable sections and goal-oriented design. Animated elements, also help to soften the form's intensity and engage customers, ensuring a smoother experience.</p>
    </div>
    <div class="rectangle-full br-24"></div>
    <div class="square-half-half br-24"></div>
    <div class="img square-half-half br-24"></div>
  </div>
</div>
