<div class="finspo-case-studies">
  <!-- Case study: DFF(Customer) -->
  <div class="item">
    <div class="title">
      <h5 class="case-study-label">Case study</h5>
      <h3>Brand</h3>
    </div>
    <div class="pca">
      <h5>Challenge</h5>
      <p>Home loans are often perceived as mundane hurdles on the path to achieving one's goals.</p>
    </div>
    <div class="pca">
      <h5>Approach</h5>
      <p>Finspo's mission to ensure customers "Feel good about their home loan moves" drives us to cultivate an approachable and enjoyable brand identity. This includes enhancing UX accessibility and infusing the brand with approachability and fun.</p>
    </div>
    <div class="pca">
      <h5>My role</h5>
      <p>Involves collaborating with the marketing team to lead design efforts and contribute to strategic planning for design-centric deliverables. Additionally, I oversee the formation and management of a team of freelancers, including illustrators and animators, to execute projects.</p>
    </div>
    <div class="rectangle-full br-24 bg-navy">
      <%= image_tag "https://res.cloudinary.com/dmvbynqto/image/upload/v1707785704/finspo_color_palette_s8pufq.svg", alt: "Finspo color palette", class: "palette"%>
    </div>
    <div class="square-half-half br-24"></div>
    <div class="img square-half-half br-24"></div>
  </div>
</div>
