<div class="finspo-case-studies">
  <!-- Components -->
  <div class="item">
    <div class="title">
      <p class="case-study-label">Case study</p>
      <h3 class="project-label">Kelp</h3>
    </div>
    <div class="pca">
      <p class="sub-title">Problem</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sit amet euismod lectus, id rhoncus lacus. Mauris lacinia nisi turpis, vel semper ligula vulputate in.</p>
    </div>
    <div class="pca">
      <p class="sub-title">Approach</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sit amet euismod lectus, id rhoncus lacus. Mauris lacinia nisi turpis, vel semper ligula vulputate in.?</p>
    </div>
    <div class="rectangle-full">
      <%= image_tag "https://res.cloudinary.com/dmvbynqto/image/upload/v1707947182/kiraku_nazunaKyotoGosho_udin5o.jpg", alt:"Nazuna Kyoto Gosho"%>
    </div>
  </div>
</div>
