<div class="grid-container">
  <!-- Intro -->
  <div class="intro">
    <h3>
    I'm a digital product designer with 10+ years of experience crafting high-quality products. I excel in creating great customer experiences in complex, regulated industries through collaborating cross-functionally to bring design concepts to life.
    <br><br>
    My journey started at Parsons School of Design. Most recently, I was the Head of Design at a fintech called Finspo. Prior to that, I've worked at Kiraku, Artsy, IDEO and Shiseido.
    <br><br>
    I can also code.
    <%= link_to "More", about_path, class: "more" %>
    </h3>
  </div>

  <div class="bio-block">
    <p class="capabilities-homepage sub-title">Capabilities</p>
    <p>-</p>
    <ul>
      <li>
        <p>UI/UX</p>
        <p>Art direction / Branding</p>
        <p>Animation</p>
        <p>Project management</p>
        <p>Web development</p>
      </li>
    </ul>
  </div>

  <%= render "project_list" %>
</div>
