<div class="grid-container">
  <!-- Intro -->
  <div class="intro">
    <h3>
    I'm a digital product designer with 10+ years of experience crafting high-quality products across finance, hospitality and art sectors mainly in startup settings. I thrive in the midst of complexity and ambiguity and excel as a cross-functional collaborator working with diverse teams to bring design concepts to life. <%= link_to "More", about_path, class: "more" %>
    </h3>
  </div>

  <div class="bio-block">
    <p class="capabilities-homepage sub-title">Capabilities</p>
    <p>-</p>
    <ul>
      <li>
        <p>UI/UX</p>
        <p>Art direction / Branding</p>
        <p>Animation</p>
        <p>Project management</p>
        <p>Web development</p>
      </li>
    </ul>
  </div>

  <%= render "project_list" %>
</div>
