<div class="grid-container">
  <!-- Intro -->
  <div class="intro" data-scroll data-scroll-speed="2">
    <h4>
    I'm a digital product designer with 10+ years of experience crafting high-quality products across finance, hospitality and art sectors mainly in startup settings. I thrive in the midst of complexity and ambiguity and excel as a cross-functional collaborator working with diverse teams to bring design concepts to life. <%= link_to "More", about_path, class: "more" %>
    </h4>
  </div>

  <div class="skills" data-scroll data-scroll-speed="2">
    <p>Skills</p>
    <ul>
      <li>
        <p class="p-top-m">UI/UX</p>
        <p>Art direction</p>
        <p>Brand</p>
        <p>Animation</p>
        <p>Project management</p>
        <p>HTML</p>
        <p>CSS</p>
        <p>Javascript</p>
        <p>Ruby</p>
      </li>
    </ul>
  </div>

  <!-- All projects -->
  <% @projects.each_with_index do |project, index| %>
    <% if index % 2 == 0 %>
      <div data-controller="card-hover"
      data-card-hover-target="cardElement"
      class="list-item left"
      data-action="mouseover->card-hover#fire mouseleave->card-hover#reset"
      data-scroll
      data-scroll-speed="2"
      >
        <h3>
          <%= link_to project.title, project_path(project) %>
        </h3>
      </div>
    <% else %>
      <div class="list-item right"
       data-scroll
       data-scroll-speed="4">
        <h3><%= link_to project.title, project_path(project) %></h3>
      </div>
    <% end %>
  <% end %>
</div>


<!-- Old code

  <div class="projects">
    <% @projects.each do |project| %>
      <div class="list-item">
        <h3><%= link_to project.title, project_path(project) %></h3>
      </div>
    <% end %>
  </div>

-->
