// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/border_radius";
@import "config/spacing";

// External libraries

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "config/fonts";
@import "vendor/locomotive";

// Other univeral styles
* {
  margin: 0;
  box-sizing: border-box;
  font-family: $my-font;
  color: $eh-text-primary;
  // Properties to solve thick fonts ( will work for safari, chrome and firefox)
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

body {
  background-color: $background-color;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 56px;
  font-weight: 400;
}

h2 {
  font-size: 48px;
  font-weight: 400;
}

h3 {
  font-size: 40px;
  font-weight: 400;
}

h4 {
  font-size: 32px;
  font-weight: 400;
}

h5 {
  font-size: 24px;
  font-weight: 400;
}

p {
  font-size: 16px;
  color: $eh-text-secondary;
}

ul {
  list-style: none;
  padding: 0;

  .company-name {
    text-decoration: underline;
    padding-top: $spacing-l;
  }
}

.main-content {
  padding: 160px $spacing-xxl;
  // background: linear-gradient(to right, $eh-border-black 1px, transparent 1px);
  // background-size: 16.67%; /* Adjust the grid size */
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: $spacing-xl $spacing-xxl;
}

/* Class to apply border radius to elements */
.br-24 {
  border-radius: $border-radius-l;
}

/* Class to apply border radius to elements */
.bg-navy {
  background-color: $eh-background-navy;
}

.bg-navy-2 {
  background-color: $eh-background-navy-2;
}

.bg-blue {
  background-color: $eh-background-blue;
}

.bg-cream {
  background-color: $eh-background-cream;
}

.bg-brown {
  background-color: $eh-background-brown;
}

.bg-card-hover {
  border-radius: 50%; // NOTE TO SELF. INSTEAD OF USING STIMULUS, can you just use CSS?
  transition: border-radius 1s;
}

/* Class to apply for text color */
.txt-tertiary {
  color: $eh-text-tertiary;
}

/* Class to apply for spacing */
.p-top-m {
  padding-top: $spacing-m;
}

.p-top-xl {
  padding-top: $spacing-xl;
}

/* Others */
.more {
  text-decoration: underline;
}

/* Media queries */
@media screen and (max-width: 800px) {
  .main-content {
    padding: $spacing-l;
  }
}
